<%= render 'components/banner'%>

<div class="container mt-3">
  <div class="row">
    <% @characters.each do |character| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="character-card">
          <%= link_to character_path(character) do %>
            <div class="character-card-image" style="background-image: url('<%= character.image_url %>')"></div>
          <% end %>
          <div class="character-card-content">
            <h4><%= character.name %></h4>
            <p><%= character.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
