<h1><%= "#{@character.name} " %>I choose you!</h1>

<p><%= @character.description %><p>
<p><%= "#{@character.price_per_day } "%>$ per day</p>
<img src=<%= "#{@character.image_url}" %> alt= "character" >
<p><%= @character.user.first_name %></p>
<% if @character.status %>
  <p>Available</p>

<% else %>
  <p>Unavailable</p>
<% end %>






